<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Feira Blog-prestação de serviço mais procuradas</title>

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- Custom Color Option -->
    <link href="css/colors.css" rel="stylesheet" />
  </head>

  <body class="red-skin blog-page">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader">
      <div class="preloader"><span></span><span></span></div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
      <!-- Start Navigation -->
      <%- include('parts/page-header') %>
      <!-- End Navigation -->
      <div class="clearfix"></div>
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->

      <!-- ============================ Page Title Start================================== -->

      <!-- ============================ Page Title End ================================== -->
      <%- include('parts/page-title', {title: 'Blog-Feira', subtitle: 'Blogs'})
      %>
      <!-- ============================ Agency List Start ================================== -->
      <section class="gray">
        <div class="container">
          <!-- row Start -->
          <div class="row">
            <!-- Blog Detail -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <div
                class="article_detail_wrapss single_article_wrap format-standard"
              >
                <div class="article_body_wrap">
                  <div class="article_featured_image">
                    <img
                      class="img-fluid"
                      src="img/blog-maisProcuradas.jpeg"
                      style="width: 1200px; height: 500px"
                      alt=""
                    />
                  </div>

                  <div class="article_top_info">
                    <ul class="article_middle_info">
                      <li>
                        <a href="#"
                          ><span class="icons"><i class="ti-user"></i></span>por
                          Gustavo Moreschi
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          ><span class="icons"><i class="ti-calendar"></i></span
                          >07/07/2021</a
                        >
                      </li>
                    </ul>
                  </div>
                  <h2 style="text-transform: none" class="post-title">
                    Quais as áreas de prestação de serviço são as mais
                    procuradas
                  </h2>
                  <p>
                    No dia a dia nascem necessidades ou imprevistos que requerem
                    a contratação de prestadores de serviços. Além de ser um
                    auxílio para aquele momento de aperto ou falta de tempo em
                    realizar tal atividade, também é em grande parte a garantia
                    de um serviço com qualidade e excelência.
                  </p>
                  <h6
                    id="configSub"
                    style="text-transform: none; margin-top: 30px"
                  >
                    Confira a lista que separamos dos principais serviços
                    contratados:
                  </h6>
                  <ul class="lists-3" style="margin-top: 35px">
                    <li>Profissional de limpeza</li>
                    <p>
                      A procura por serviços de diaristas está cada vez maior.
                      Isso acontece em boa parte devido a facilidade de
                      organização que os profissionais dessa área trazem,
                      principalmente para quem possui uma rotina corrida.
                    </p>
                    <li>Guia de mudança/montador de móveis</li>
                    <p>
                      Realizar uma mudança é em si um processo cansativo, então
                      optar por alguém que auxilie nesse momento facilita a
                      organização. O mesmo é válido para quem compra móveis
                      novos e não consegue por questões técnicas ou não possui
                      tempo para montá-los, recorrer ao um montador contribui,
                      até mesmo, na preservação do móvel comprado.
                    </p>
                    <li>Técnico de informática</li>
                    <p>
                      Nas empresas e em residências, a presença de aparelhos
                      está cada vez mais frequentes. E por mais que o acesso a
                      informação seja acessível, existem alguns problemas que um
                      prestador de serviço capacitado consegue resolver. E o
                      serviço não se limita apenas a aparelhos, mas também a
                      rede, instalação de programas, questões técnicas e por aí
                      vai.
                    </p>
                    <li>Eletricista</li>
                    <p>
                      Os técnicos eletricistas já são conhecidos há tempos por
                      atuarem como prestadores de serviço. E a busca por esses
                      profissionais é frequente. O serviço também pode ser
                      realizado tanto em empresas quanto em domicílios, e vão
                      desde resolver problemas elétricos até instalar o sistema
                      elétrico no local solicitado.
                    </p>
                  </ul>
                  <div class="article_bottom_info">
                    <div class="post-share">
                      <h4 style="text-transform: none" class="pbm-title">
                        Acesse nossas redes sociais :)
                      </h4>
                      <ul class="list">
                        <li>
                          <a
                            target="_blank"
                            href="https://www.facebook.com/feirabr"
                            ><i class="fab fa-facebook-f"></i
                          ></a>
                        </li>

                        <li>
                          <a
                            target="_blank"
                            href="https://www.linkedin.com/company/feira-brasil/?viewAsMember=true"
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            target="_blank"
                            href="https://www.instagram.com/feira_br/"
                            ><i class="fab fa-instagram"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Author Detail -->
              <div
                class="article_detail_wrapss single_article_wrap format-standard"
              >
                <div class="article_posts_thumb">
                  <span class="img"
                    ><img class="img-fluid" src="img/guga.png" alt=""
                  /></span>
                  <h3 class="pa-name">Gustavo Moreschi</h3>
                  <ul class="social-links">
                    <li>
                      <a
                        target="_blank"
                        href="https://www.linkedin.com/in/gustavo-moreschi-a096a717a/"
                        ><i class="fab fa-linkedin-in"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Single blog Grid -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
              <!-- Searchbard -->

              <!-- Categories -->

              <!-- Trending Posts -->
              <div class="single_widgets widget_thumb_post">
                <h4 class="title" style="text-transform: none">
                  Não deixe de ler
                </h4>
                <ul>
                  <li>
                    <span class="left">
                      <img
                        src="img/blog-vantagensPrestador.png"
                        alt=""
                        class=""
                      />
                    </span>
                    <span class="right">
                      <a class="feed-title" href="/blog-vantagensPrestador"
                        >05 vantagens em ser um prestador de serviço</a
                      >
                      <span class="post-date"
                        ><i class="ti-calendar"></i>07/07/2021</span
                      >
                    </span>
                  </li>
                  <li>
                    <span class="left">
                      <img src="img/blog-mei.png" alt="" class="" />
                    </span>
                    <span class="right">
                      <a class="feed-title" href="/blog-mei"
                        >Tudo o que você precisa saber sobre MEI</a
                      >
                      <span class="post-date"
                        ><i class="ti-calendar"></i>07/07/2021</span
                      >
                    </span>
                  </li>
                </ul>
              </div>

              <!-- Tags Cloud -->
            </div>
          </div>
          <!-- /row -->
        </div>
      </section>
      <!-- ============================ Agency List End ================================== -->

      <!-- ============================== Start Newsletter ================================== -->
      <%- include('parts/page-newsletter') %>
      <!-- ================================= End Newsletter =============================== -->

      <!-- ============================ Footer Start ================================== -->
      <%- include('parts/page-footer') %>
      <!-- ============================ Footer End ================================== -->

      <!-- Log In Modal -->
      <div
        class="modal fade"
        id="login"
        tabindex="-1"
        role="dialog"
        aria-labelledby="registermodal"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered login-pop-form"
          role="document"
        >
          <div class="modal-content" id="registermodal">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"
              ><i class="ti-close"></i
            ></span>
            <div class="modal-body">
              <h4 class="modal-header-title">Log In</h4>
              <div class="login-form">
                <form>
                  <div class="form-group">
                    <label>User Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>

                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="*******"
                    />
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-md full-width pop-login"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>

              <div class="social-login mb-3">
                <ul>
                  <li>
                    <input
                      id="reg"
                      class="checkbox-custom"
                      name="reg"
                      type="checkbox"
                    />
                    <label for="reg" class="checkbox-custom-label"
                      >Save Password</label
                    >
                  </li>
                  <li><a href="#" class="theme-cl">Forget Password?</a></li>
                </ul>
              </div>

              <div class="text-center">
                <p class="mt-2">
                  Haven't Any Account?
                  <a href="register.html" class="link">Click here</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!-- Sign Up Modal -->
      <div
        class="modal fade"
        id="signup"
        tabindex="-1"
        role="dialog"
        aria-labelledby="sign-up"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered login-pop-form"
          role="document"
        >
          <div class="modal-content" id="sign-up">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"
              ><i class="ti-close"></i
            ></span>
            <div class="modal-body">
              <h4 class="modal-header-title">Sign Up</h4>
              <div class="login-form">
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Name"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="*******"
                    />
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-md full-width pop-login"
                    >
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
              <div class="text-center">
                <p class="mt-3">
                  <i class="ti-user mr-1"></i>Already Have An Account?
                  <a href="#" class="link">Go For LogIn</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/counterup.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
  </body>
</html>
