<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>LearnUp - Online Course & Education HTML Template</title>

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- Custom Color Option -->
    <link href="css/colors.css" rel="stylesheet" />
  </head>

  <body class="red-skin">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
  

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
      <!-- Start Navigation -->
      <div class="header header-light">
        <div class="container">
          <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
              <a class="nav-brand" href="#">
                <img
                  src="img/facto-logo.png"
                  class="logo"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </a>
              <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none">
              <ul class="nav-menu">
                <li class="active">
                  <a href="#courses"
                    >Cursos<span class="submenu-indicator"></span
                  ></a>
                  <!-- <ul class="nav-dropdown nav-submenu">
                    <li><a href="index.html">Home 1</a></li>
                    <li><a href="home-2.html">Home 2</a></li>
                    <li><a href="home-3.html">Home 3</a></li>
                    <li><a href="home-4.html">Home 4</a></li>
                    <li><a href="home-5.html">Home 5</a></li>
                    <li><a href="home-6.html">Home 6</a></li>
                    <li><a href="home-7.html">Home 7</a></li>
                    <li><a href="home-8.html">Home 8</a></li>
                  </ul> -->
                </li>

                <li>
                  <a href="#blog"
                    >Blog<span class="submenu-indicator"></span
                  ></a>
                  <!-- <ul class="nav-dropdown nav-submenu">
                    <li>
                      <a href="#"
                        >Courses Grid Sidebar<span
                          class="submenu-indicator"
                        ></span
                      ></a>
                      <ul class="nav-dropdown nav-submenu">
                        <li>
                          <a href="grid-with-sidebar.html">Courses grid 1</a>
                        </li>
                        <li>
                          <a href="grid-with-sidebar-2.html">Courses grid 1</a>
                        </li>
                        <li>
                          <a href="grid-with-sidebar-3.html">Courses grid 1</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#"
                        >Courses Grid Full Width<span
                          class="submenu-indicator"
                        ></span
                      ></a>
                      <ul class="nav-dropdown nav-submenu">
                        <li>
                          <a href="full-width-course.html">Courses grid 1</a>
                        </li>
                        <li>
                          <a href="full-width-course-2.html">Courses grid 1</a>
                        </li>
                        <li>
                          <a href="full-width-course-3.html">Courses grid 1</a>
                        </li>
                        <li>
                          <a href="full-width-course-4.html">Courses grid 1</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#"
                        >Courses Detail<span class="submenu-indicator"></span
                      ></a>
                      <ul class="nav-dropdown nav-submenu">
                        <li><a href="detail.html">Course Detail 1</a></li>
                        <li><a href="detail-2.html">Course Detail 2</a></li>
                        <li><a href="detail-3.html">Course Detail 3</a></li>
                        <li><a href="detail-4.html">Course Detail 4</a></li>
                        <li><a href="detail-5.html">Course Detail 5</a></li>
                      </ul>
                    </li>
                    <li><a href="find-instructor.html">Find Instructor</a></li>
                    <li>
                      <a href="instructor-detail.html">Instructor Detail</a>
                    </li>
                  </ul> -->
                </li>

                <li>
                  <a href="#news"
                    >Notícias<span class="submenu-indicator"></span
                  ></a>
                  <!-- <ul class="nav-dropdown nav-submenu">
                    <li class="">
                      <a href="#"
                        >User Dashboard<span class="submenu-indicator"></span
                      ></a>
                      <ul class="nav-dropdown nav-submenu">
                        <li><a href="dashboard.html">User Dashboard</a></li>
                        <li><a href="my-profile.html">My Profile</a></li>
                        <li><a href="all-courses.html">My Courses</a></li>
                        <li><a href="my-order.html">My Order</a></li>
                        <li><a href="saved-courses.html">Saved Courses</a></li>
                        <li><a href="reviews.html">My Reviews</a></li>
                        <li><a href="settings.html">My Settings</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#"
                        >Shop Pages<span class="submenu-indicator"></span
                      ></a>
                      <ul class="nav-dropdown nav-submenu">
                        <li>
                          <a href="shop-full-width.html">Shop Full Width</a>
                        </li>
                        <li>
                          <a href="shop-left-sidebar.html">Shop Sidebar Left</a>
                        </li>
                        <li>
                          <a href="shop-right-sidebar.html"
                            >Shop Sidebar Right</a
                          >
                        </li>
                        <li><a href="product-detail.html">Shop Detail</a></li>
                        <li><a href="add-to-cart.html">Add To Cart</a></li>
                        <li><a href="product-wishlist.html">Wishlist</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="shop-order.html">Order</a></li>
                      </ul>
                    </li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="blog.html">Blog Style</a></li>
                    <li><a href="blog-detail.html">Blog Detail</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="404.html">404 Page</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="component.html">Elements</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                  </ul> -->
                </li>

                <li><a href="contact.html">Contato</a></li>
              </ul>

              <ul class="nav-menu nav-menu-social align-to-right">
                <li
                  class="login_click bg-green"
                  
                >
                  <a
                    href="https://www.facebook.com/groups/521531292199783"
                    target="_blank"
                    >Entre na Facto</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- End Navigation -->
      <div class="clearfix"></div>
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->

      <!-- ============================ Hero Banner  Start================================== -->
      <div
        class="image-cover half_banner"
        style="
          background: #0b2248 url(img/comunidade.png)
            no-repeat;
            width: 1920px;
            height: 620px;
        "
      >
    
  
        <div class="container">
          <!-- Type -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="banner-search-2" >
                <h1 class="cl_2 mb-0">Aprenda para seu<br />futuro!</h1>
                <p style=" color: #748AA4">
                  Se profissionalize, conquiste conhecimento e consiga maiores
                  oportunidades
                </p>
                <div class="input-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="O que você quer aprender?"
                    style=" color: #748AA4"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                      <img
                        src="img/search.svg"
                        class="search-icon"
                        alt=""
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================ Hero Banner End ================================== -->

      <!-- ============================ Trips Facts Start ================================== -->
      <div class="trips_wrap full">
        <div class="container">
          <div class="row m-0">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="trips">
                <div class="trips_icons" style="background-color: #E5F7F8; color: #1E96B1;">
                  <i class="ti-video-camera"></i>
                </div>
                <div class="trips_detail">
                  <h4 style="color: #010025;">Materiais Exclusivos</h4>
                  <p style=" color: #748AA4">
                    Tenha acesso a cursos, eBooks e planilhas, para você se
                    tornar um profissional ainda melhor
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="trips">
                <div class="trips_icons" style="background-color: #E5F7F8; color: #1E96B1;">
                  <i class="ti-medall"></i>
                </div>
                <div class="trips_detail">
                  <h4 style="color: #010025;">Notícias Diárias</h4>
                  <p style=" color: #748AA4">
                    Fique informado sobre a sua profissão conferindo diariamente
                    as melhores notícias
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="trips none">
                <div class="trips_icons" style="background-color: #E5F7F8; color: #1E96B1;">
                  <i class="ti-infinite"></i>
                </div>
                <div class="trips_detail">
                  <h4 style="color: #010025;">Blog Facto</h4>
                  <p style=" color: #748AA4">
                    Matérias feitas pelo time da Facto, sobre diversos assuntos
                    para profissionais de todas as áreas
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================ Trips Facts Start ================================== -->

      <!-- ========================== Featured Category Section =============================== -->
      <section id="courses" style="margin-top: 25px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
              <div class="sec-heading center">
                <p style="color: #0066FF;">Material Complementar</p>
                <h2 style="font-family: 'Montserrat'; text-transform:none; font-weight: 500; color: #010025;" >  Cursos e Vídeos <span style="font-weight: 600;">Gratuitos</span> </h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-1">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Barbeiro.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title" style="text-transform: none">
                    <a href="#full-width-course.html">Barbeiro(a)</a>
                  </h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>23 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-2">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Cabelereiro.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title" style="text-transform: none">
                    <a href="#">Cabeleireiro(a)</a>
                  </h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>58 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-3">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Depiladora.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title">
                    <a href="#" style="text-transform: none">Depilador(a)</a>
                  </h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>74 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-4">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Design Cilios.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title"><a href="#">Designer de Cílios</a></h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>65 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-10">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Design Sobrancelha.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title">
                    <a href="#">Designer de Sobrancelhas</a>
                  </h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>43 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-6">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Esteticista.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title"><a href="#">Esteticista</a></h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>82 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-7">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Manicure.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title"><a href="#">Manicure</a></h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>25 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-8">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Maquiadora.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title" style="text-transform: none">
                    <a href="#">Maquiador(a)</a>
                  </h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>43 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="edu_cat_2 cat-9">
                <div class="edu_cat_icons">
                  <a class="pic-main" href="#"
                    ><img
                      src="img/Massagista.png"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
                <div class="edu_cat_data">
                  <h4 class="title"><a href="#">Massagista</a></h4>
                  <ul class="meta">
                    <li class="video" style=" color: #748AA4">
                      <i class="ti-video-clapper"></i>38 Classes
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ========================== Featured Category Section =============================== -->

      <!-- ============================ Featured Courses Start ================================== -->
      <section class="gray" id="blog" style="background-color: #F4F8FA
      ;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12" >
              <div class="sec-heading center">
                <p style="color: #0066FF;">Nossas Matérias</p>
                <h2 style="font-family: 'Montserrat'; font-weight: 500; text-transform: none; color: #010025;">Blog da <span style="font-weight: 600;">Facto</span></h2>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
              <div class="education_block_grid style_2">
                <div class="education_block_thumb n-shadow">
                  <a href="course-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x500"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>

                <div class="education_block_body">
                  <h4 class="bl-title" style="color: #010025;">
                    <a href="course-detail.html"
                      >Tableau For Beginners: Get CA Certified, Grow Your
                      Career</a
                    >
                  </h4>
                </div>

                <div class="cources_info_style3">
                  <ul>
                    <li><i class="ti-time mr-2"></i>Data</li>
                  </ul>
                </div>

                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img">
                      <a href="instructor-detail.html"
                        ><img
                          src="https://via.placeholder.com/500x500"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <h5><a href="instructor-detail.html">Su Choung Wei</a></h5>
                  </div>
                </div>
              </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
              <div class="education_block_grid style_2">
                <div class="education_block_thumb n-shadow">
                  <a href="course-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x500"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>

                <div class="education_block_body">
                  <h4 class="bl-title" style="color: #010025;">
                    <a href="course-detail.html"
                      >The Complete Business Plan Course (Includes 50
                      Templates)</a
                    >
                  </h4>
                </div>

                <div class="cources_info_style3">
                  <ul>
                    
                    <li><i class="ti-time mr-2"></i>Data</li>
                    
                  </ul>
                </div>

                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img">
                      <a href="instructor-detail.html"
                        ><img
                          src="https://via.placeholder.com/500x500"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <h5><a href="instructor-detail.html">Shruti Hasan</a></h5>
                  </div>
                
                </div>
              </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
              <div class="education_block_grid style_2">
                <div class="education_block_thumb n-shadow">
                  <a href="course-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x500"
                      class="img-fluid"
                      alt=""
                  /></a>
                  
                </div>

                <div class="education_block_body">
                  <h4 class="bl-title" style="color: #010025;">
                    <a href="course-detail.html"
                      >An Entire MBA In 1 Course:Award Winning Business School
                      Prof</a
                    >
                  </h4>
                </div>

                <div class="cources_info_style3">
                  <ul>
                    
                    <li><i class="ti-time mr-2"></i>Data</li>
                    
                  </ul>
                </div>

                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img">
                      <a href="instructor-detail.html"
                        ><img
                          src="https://via.placeholder.com/500x500"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <h5><a href="instructor-detail.html">Adam Viknoi</a></h5>
                  </div>
                  
                </div>
              </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
              <div class="education_block_grid style_2">
                <div class="education_block_thumb n-shadow">
                  <a href="course-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x500"
                      class="img-fluid"
                      alt=""
                  /></a>
                  <div class="cources_price" style="display: none;">$420</div>
                </div>

                <div class="education_block_body">
                  <h4 class="bl-title" style="color: #010025;">
                    <a href="course-detail.html"
                      >The Complete Financial Analyst Course 2020</a
                    >
                  </h4>
                </div>

                <div class="cources_info_style3">
                  <ul>
              
                    <li><i class="ti-time mr-2"></i>Data</li>
                    
                  </ul>
                </div>

                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img">
                      <a href="instructor-detail.html"
                        ><img
                          src="https://via.placeholder.com/500x500"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <h5><a href="instructor-detail.html">Shilpa Shekh</a></h5>
                  </div>
                 
                </div>
              </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
              <div class="education_block_grid style_2">
                <div class="education_block_thumb n-shadow">
                  <a href="course-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x500"
                      class="img-fluid"
                      alt=""
                  /></a>
                  <div class="cources_price" style="display: none;">$429</div>
                </div>

                <div class="education_block_body">
                  <h4 class="bl-title" style="color: #010025;">
                    <a href="course-detail.html"
                      >PMP Exam Prep Seminar - PMBOK Guide 6</a
                    >
                  </h4>
                </div>

                <div class="cources_info_style3">
                  <ul>
                    
                    <li><i class="ti-time mr-2"></i>Data</li>
                    
                  </ul>
                </div>

                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img">
                      <a href="instructor-detail.html"
                        ><img
                          src="https://via.placeholder.com/500x500"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <h5><a href="instructor-detail.html">Shaurya Preet</a></h5>
                  </div>
                  
                </div>
              </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
              <div class="education_block_grid style_2">
                <div class="education_block_thumb n-shadow">
                  <a href="course-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x500"
                      class="img-fluid"
                      alt=""
                  /></a>
                  

                <div class="education_block_body">
                  <h4 class="bl-title" style="color: #010025">
                    <a href="course-detail.html"
                      >Tableau 2020 A-Z:Hands-On Tableau Training For Data
                      Science!</a
                    >
                  </h4>
                </div>

                <div class="cources_info_style3">
                  <ul>
                    <li><i class="ti-time mr-2"></i>Data</li>
                  </ul>
                </div>

                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img">
                      <a href="instructor-detail.html"
                        ><img
                          src="https://via.placeholder.com/500x500"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <h5>
                      <a href="instructor-detail.html">Preeti Bhartiya</a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ============================ Featured Courses End ================================== -->

      <!-- ========================== Articles Section =============================== -->
      <section class="bg-white" id="news">
        <div class="container" >
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12" >
              <div class="sec-heading center">
                <p style="color: #0066FF;">Alimentação de Conteúdo</p>
                <h2 style="font-family: 'Montserrat'; font-weight: 500; text-transform: none;"> Notícias mais <span style="font-weight: 600;">Recentes</span></h2>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Single Article -->
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="articles_grid_style">
                <div class="articles_grid_thumb">
                  <a href="blog-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x400"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>

                <div class="articles_grid_caption">
                  <h4 style="color: #010025;">The National Minimum wage is an important part</h4>
                  <div class="articles_grid_author">
                    <div class="articles_grid_author_img">
                      <img
                        src="https://via.placeholder.com/500x500"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <h4>Adam Willsone</h4>
                  </div>
                </div>
              </div>
            </div>

            <!-- Single Article -->
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="articles_grid_style">
                <div class="articles_grid_thumb">
                  <a href="blog-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x400"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>

                <div class="articles_grid_caption">
                  <h4 style="color: #010025;">The National Minimum wage is an important part</h4>
                  <div class="articles_grid_author">
                    <div class="articles_grid_author_img">
                      <img
                        src="https://via.placeholder.com/500x500"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <h4>Rikki Sen</h4>
                  </div>
                </div>
              </div>
            </div>

            <!-- Single Article -->
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="articles_grid_style">
                <div class="articles_grid_thumb">
                  <a href="blog-detail.html"
                    ><img
                      src="https://via.placeholder.com/700x400"
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>

                <div class="articles_grid_caption">
                  <h4 style="color: #010025;">The National Minimum wage is an important part</h4>
                  <div class="articles_grid_author">
                    <div class="articles_grid_author_img">
                      <img
                        src="https://via.placeholder.com/500x500"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <h4>Daniel Wikjones</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ========================== Articles Section =============================== -->

      <!-- ============================ Featured Instructor Start ================================== -->
      <section class="pt-0 bg-light">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12" style="margin-top: 100px;">
              <div class="sec-heading center">
                <p style="color: #0066FF;">Nosso Time</p>
                <h2 style="font-family: 'Montserrat'; font-weight: 500; text-transform: none; color: #010025;">Quem faz a <span style="font-weight: 600;">Facto</span></h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="four_slide-dots articles arrow_middle">
                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <a href="instructor-detail.html"
                        ><img
                          src="img/venca.png"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025;">
                        <a href="instructor-detail.html">Bruno Vencato</a>
                      </h4>
                      <span style=" color: #748AA4">Co-Founder | Design</span>
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/bruno-vencato-a8745016a/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <a href="instructor-detail.html"
                        ><img
                          src="img/enzo.png"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025;">
                        <a href="instructor-detail.html">Enzo Romanó</a>
                      </h4>
                      <span style=" color: #748AA4">Co-Founder | Administrativo</span>
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/enzo-roman%C3%B3-012581196/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <a href="instructor-detail.html"
                        ><img
                          src="img/guga.png"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025;">
                        <a href="instructor-detail.html">Gustavo Moreschi</a>
                      </h4>
                      <span style=" color: #748AA4">Co-Founder | Comercial</span>
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/gustavo-moreschi-a096a717a/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <a href="instructor-detail.html"
                        ><img
                          src="img/lobo.png"
                          class="img-fluid"
                          alt=""
                      /></a>
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025;">
                        <a href="instructor-detail.html">João Lobo</a>
                      </h4>
                      <span style=" color: #748AA4">Co-Founder | Marketing</span>
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/joao-guilherme-lobo-dos-santos-433959180/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ============================ Featured Instructor End ================================== -->

      <!-- ============================== Start Newsletter ================================== -->
      <%- include('parts/page-newsletter') %> 
      <!-- ================================= End Newsletter =============================== -->

      <!-- ============================ Footer Start ================================== -->
      <%- include('parts/page-footer') %> 
      
      <!-- ============================ Footer End ================================== -->

      <!-- Log In Modal -->
      <div
        class="modal fade"
        id="login"
        tabindex="-1"
        role="dialog"
        aria-labelledby="registermodal"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered login-pop-form"
          role="document"
        >
          <div class="modal-content" id="registermodal">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"
              ><i class="ti-close"></i
            ></span>
            <div class="modal-body">
              <h4 class="modal-header-title">Log In</h4>
              <div class="login-form">
                <form>
                  <div class="form-group">
                    <label>User Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>

                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="*******"
                    />
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-md full-width pop-login"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>

              <div class="social-login mb-3">
                <ul>
                  <li>
                    <input
                      id="reg"
                      class="checkbox-custom"
                      name="reg"
                      type="checkbox"
                    />
                    <label for="reg" class="checkbox-custom-label"
                      >Save Password</label
                    >
                  </li>
                  <li><a href="#" class="theme-cl">Forget Password?</a></li>
                </ul>
              </div>

              <div class="text-center">
                <p class="mt-2">
                  Haven't Any Account?
                  <a href="register.html" class="link">Click here</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!-- Sign Up Modal -->
      <div
        class="modal fade"
        id="signup"
        tabindex="-1"
        role="dialog"
        aria-labelledby="sign-up"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered login-pop-form"
          role="document"
        >
          <div class="modal-content" id="sign-up">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"
              ><i class="ti-close"></i
            ></span>
            <div class="modal-body">
              <h4 class="modal-header-title">Sign Up</h4>
              <div class="login-form">
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Name"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="*******"
                    />
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-md full-width pop-login"
                    >
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
              <div class="text-center">
                <p class="mt-3">
                  <i class="ti-user mr-1"></i>Already Have An Account?
                  <a href="#" class="link">Go For LogIn</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/counterup.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
  </body>
</html>
