<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Feira Início</title>

    <script src="js/index.js" defer type="module"></script>

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />

    <!-- Custom Color Option -->
    <link href="css/colors.css" rel="stylesheet" />
  </head>

  <body class="red-skin">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
      <!-- Start Navigation -->
      <%- include('parts/page-header') %>
      <!-- End Navigation -->
      <div class="clearfix"></div>
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->

      <!-- ============================ Hero Banner  Start================================== -->
      <div
        class="image-cover half_banner"
        style="
          background: #0b2248 url(img/comunidade.png) no-repeat;
          width: 1920px;
          height: 620px;
        "
      >
        <div class="container">
          <!-- Type -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="banner-search-2">
                <h1 class="cl_2 mb-0">Aprenda para seu futuro!</h1>
                <p style="color: #748aa4; margin-top: 1rem">
                  Se profissionalize, conquiste conhecimento e consiga maiores
                  oportunidades
                </p>
                <!-- <div class="input-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="O que você quer aprender?"
                    style=" color: #748AA4"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                      <img
                        src="img/search.svg"
                        class="search-icon"
                        alt=""
                      />
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================ Hero Banner End ================================== -->

      <!-- ============================ Trips Facts Start ================================== -->
      <div class="trips_wrap full">
        <div class="container">
          <div class="row m-0">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="trips">
                <div
                  class="trips_icons"
                  style="
                    background: linear-gradient(
                      51.27deg,
                      #0066ff 0%,
                      #7b61ff 100%
                    );
                    color: white;
                  "
                >
                  <i class="ti-video-camera"></i>
                </div>
                <div class="trips_detail">
                  <h4 style="color: #010025">Materiais Exclusivos</h4>
                  <p style="color: #748aa4">
                    Tenha acesso a cursos, eBooks e planilhas, para você se
                    tornar um profissional ainda melhor
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="trips">
                <div
                  class="trips_icons"
                  style="
                    background: linear-gradient(
                      51.27deg,
                      #0066ff 0%,
                      #7b61ff 100%
                    );
                    color: white;
                  "
                >
                  <i class="ti-medall"></i>
                </div>
                <div class="trips_detail">
                  <h4 style="color: #010025">Notícias Diárias</h4>
                  <p style="color: #748aa4">
                    Fique informado sobre a sua profissão conferindo diariamente
                    as melhores notícias
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="trips none">
                <div
                  class="trips_icons"
                  style="
                    background: linear-gradient(
                      51.27deg,
                      #0066ff 0%,
                      #7b61ff 100%
                    );
                    color: white;
                  "
                >
                  <i class="ti-infinite"></i>
                </div>
                <div class="trips_detail">
                  <h4 style="color: #010025">Blog Feira</h4>
                  <p style="color: #748aa4">
                    Matérias feitas pelo time da Feira, sobre diversos assuntos
                    para profissionais de todas as áreas
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================ Trips Facts Start ================================== -->

      <!-- ========================== Featured Category Section =============================== -->
      <section id="courses" style="margin-top: 25px">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
              <div class="sec-heading center">
                <p style="color: #0066ff">Material Complementar</p>
                <h2
                  style="
                    font-family: 'Montserrat';
                    text-transform: none;
                    font-weight: 500;
                    color: #010025;
                  "
                >
                  Cursos e Vídeos
                  <span style="font-weight: 600">Gratuitos</span>
                </h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <a href="courses?q=barbeiro">
                <div class="edu_cat_2 cat-1">
                  <div class="edu_cat_icons">
                    <img src="img/Barbeiro.png" class="img-fluid" alt="" />
                  </div>
                  <div class="edu_cat_data">
                    <h4 class="title" style="text-transform: none">
                      Barbeiro(a)
                    </h4>
                    <ul class="meta">
                      <li class="video" style="color: #748aa4">
                        <i class="ti-video-clapper"></i>3 Cursos
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <a href="courses?q=cabeleireiro">
                <div class="edu_cat_2 cat-2">
                  <div class="edu_cat_icons">
                    <img src="img/Cabelereiro.png" class="img-fluid" alt="" />
                  </div>
                  <div class="edu_cat_data">
                    <h4 class="title" style="text-transform: none">
                      Cabeleireiro(a)
                    </h4>
                    <ul class="meta">
                      <li class="video" style="color: #748aa4">
                        <i class="ti-video-clapper"></i>3 Cursos
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <a href="courses?q=tatuador">
                <div class="edu_cat_2 cat-3">
                  <div class="edu_cat_icons">
                    <img src="img/Depiladora.png" class="img-fluid" alt="" />
                  </div>
                  <div class="edu_cat_data">
                    <h4 class="title" style="text-transform: none">
                      Tatuador(a)
                    </h4>
                    <ul class="meta">
                      <li class="video" style="color: #748aa4">
                        <i class="ti-video-clapper"></i>3 Cursos
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <a href="courses?q=designerCilios">
                <div class="edu_cat_2 cat-4">
                  <div class="edu_cat_icons">
                    <img src="img/Design Cilios.png" class="img-fluid" alt="" />
                  </div>
                  <div class="edu_cat_data">
                    <h4 class="title">Designer de Sobrancelhas</h4>
                    <ul class="meta">
                      <li class="video" style="color: #748aa4">
                        <i class="ti-video-clapper"></i>3 Cursos
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <a href="courses?q=manicure">
                <div class="edu_cat_2 cat-7">
                  <div class="edu_cat_icons">
                    <img src="img/Manicure.png" class="img-fluid" alt="" />
                  </div>
                  <div class="edu_cat_data">
                    <h4 class="title">Manicure</h4>
                    <ul class="meta">
                      <li class="video" style="color: #748aa4">
                        <i class="ti-video-clapper"></i>3 Cursos
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <a href="courses?q=maquiador">
                <div class="edu_cat_2 cat-8">
                  <div class="edu_cat_icons">
                    <img src="img/Maquiadora.png" class="img-fluid" alt="" />
                  </div>
                  <div class="edu_cat_data">
                    <h4 class="title" style="text-transform: none">
                      Maquiador(a)
                    </h4>
                    <ul class="meta">
                      <li class="video" style="color: #748aa4">
                        <i class="ti-video-clapper"></i>3 Cursos
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- ========================== Featured Category Section =============================== -->

      <!-- ============================ Featured Courses Start ================================== -->
      <section class="gray" id="blog" style="background-color: #f4f8fa">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
              <div class="sec-heading center">
                <p style="color: #0066ff">Nossas Matérias</p>
                <h2
                  style="
                    font-family: 'Montserrat';
                    font-weight: 500;
                    text-transform: none;
                    color: #010025;
                  "
                >
                  Blog da <span style="font-weight: 600">Feira</span>
                </h2>
              </div>
            </div>
          </div>

          <div class="row" id="data-blog-index"></div>
        </div>
      </section>
      <!-- ============================ Featured Courses End ================================== -->

      <!-- ========================== Articles Section =============================== -->
      <section class="bg-white" id="news">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
              <div class="sec-heading center">
                <p style="color: #0066ff">Alimentação de Conteúdo</p>
                <h2
                  style="
                    font-family: 'Montserrat';
                    font-weight: 500;
                    text-transform: none;
                  "
                >
                  Notícias mais <span style="font-weight: 600">Recentes</span>
                </h2>
              </div>
            </div>
          </div>

          <div class="row" id="data-news-index"></div>
        </div>
      </section>
      <!-- ========================== Articles Section =============================== -->

      <!-- ============================ Featured Instructor Start ================================== -->
      <section class="pt-0 bg-light">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12" style="margin-top: 100px">
              <div class="sec-heading center">
                <p style="color: #0066ff">Nosso Time</p>
                <h2
                  style="
                    font-family: 'Montserrat';
                    font-weight: 500;
                    text-transform: none;
                    color: #010025;
                  "
                >
                  Quem faz a <span style="font-weight: 600">Feira</span>
                </h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="four_slide-dots articles arrow_middle">
                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <a href="instructor-detail.html"
                        ><img src="img/venca.png" class="img-fluid" alt=""
                      /></a>
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025">Bruno Vencato</h4>
                      <span style="color: #748aa4">Co-Founder | Design</span>
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/bruno-vencato-a8745016a/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <a href="instructor-detail.html"
                        ><img src="img/enzo.png" class="img-fluid" alt=""
                      /></a>
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025">Enzo Romanó</h4>
                      <span style="color: #748aa4"
                        >Co-Founder | Administrativo</span
                      >
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/enzo-roman%C3%B3-012581196/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <img src="img/guga.png" class="img-fluid" alt="" />
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025">Gustavo Moreschi</h4>
                      <span style="color: #748aa4">Co-Founder | Comercial</span>
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/gustavo-moreschi-a096a717a/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <img src="img/Fernando.jpeg" class="img-fluid" alt="" />
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025">Fernando Pimenta</h4>
                      <span style="color: #748aa4"
                        >Co-Founder | Desenvolvimento</span
                      >
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/fepimenta/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Single Slide -->
                <div class="singles_items">
                  <div class="instructor_wrap">
                    <div class="instructor_thumb">
                      <a href="instructor-detail.html"
                        ><img src="img/lobo.png" class="img-fluid" alt=""
                      /></a>
                    </div>
                    <div class="instructor_caption">
                      <h4 style="color: #010025">João Lobo</h4>
                      <span style="color: #748aa4">Co-Founder | Marketing</span>
                      <ul>
                        <li>
                          <a
                            href="https://www.linkedin.com/in/joao-guilherme-lobo-dos-santos-433959180/"
                            class="cl-linked"
                            target="_blank"
                            ><i class="ti-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ============================ Featured Instructor End ================================== -->

      <!-- ============================== Start Newsletter ================================== -->
      <%- include('parts/page-newsletter') %>
      <!-- ================================= End Newsletter =============================== -->

      <!-- ============================ Footer Start ================================== -->
      <%- include('parts/page-footer') %>

      <!-- ============================ Footer End ================================== -->
      <a
        href="https://wa.me/554192077035"
        class="whatsapp_float"
        target="_blank"
      >
        <i class="fa fa-whatsapp whatsapp-icon"></i
      ></a>

      <!-- <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a> -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/counterup.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/newsIndexAdd.js"></script>
    <script src="js/blogsAddIndex.js"></script>

    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
  </body>
</html>
