<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Feira Regras</title>

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- Custom Color Option -->
    <link href="css/colors.css" rel="stylesheet" />
  </head>

  <body class="red-skin">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
      <!-- Start Navigation -->
      <%- include('parts/page-header', { a: "banana"}) %>
      <!-- End Navigation -->
      <div class="clearfix"></div>
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->

      <!-- ============================ Page Title Start================================== -->
      <%- include('parts/page-title', {title: 'Regras Grupo da Feira', subtitle:
      'Regras'}) %>

      <!-- ============================ Page Title End ================================== -->

      <!-- ============================ Privacy Start ================================== -->
      <section class="gray">
        <div class="container">
          <!-- row Start -->
          <div
            class="row"
            style="display: flex; justify-content: center; align-items: center"
          >
            <div class="col-lg-8 col-md-12">
              <div class="prc_wrap">
                <div class="prc_wrap_header">
                  <h4 class="property_block_title" style="text-transform: none">
                    Regras Grupo da Feira
                  </h4>
                </div>

                <div class="prc_wrap-body">
                  <ol>
                    <li>
                      O foco do grupo da Feira no Facebook é desenvolver um
                      ambiente digital, seguro e acolhedor, focado em pessoas
                      reais. Os integrantes podem postar ofertas e vagas de
                      trabalho, encorajamos também conteúdos de crescimento
                      pessoal e profissional, como cursos de capacitação e
                      especialização. Desta forma, as postagens deverão conter
                      conteúdo direcionado ao tema trabalho e seguindo as
                      orientações feitas nas regras a seguir.
                    </li>
                    <li>
                      Para ser mais fácil o uso de nossa comunidade, ao fazer
                      uma postagem buscando por uma oportunidade de trabalho ou
                      um um profissional, para fazer um serviço, use sempre na
                      primeira linha do post: “#[tópico]”. Por exemplo: escrever
                      “#[Manicure]”, quando estiver buscando por uma pessoa que
                      faça o serviço de Manicure. Além disso, ao ter sua vaga
                      preenchida, lembre sempre de bloquear os comentários da
                      postagem para garantir que nenhuma pessoa fique na
                      expectativa desta postagem
                    </li>
                    <li>
                      A Feira acredita que uma comunidade acolhedora e segura é
                      construída com base na honestidade, transparência e foco
                      no que importa, que é promover mais oportunidades e
                      desenvolvimento pessoal e profissional de pessoas. Por
                      isso todo mundo pode entrar, exceto perfis falsos (Fakes)
                      e menores de 18 anos em nosso grupo. A comunidade da Feira
                      segue as regras do Facebook, descritas em:
                      <a
                        href="https://www.facebook.com/communitystandards/"
                        target="_blank"
                        class="break"
                        >https://www.facebook.com/communitystandards/</a
                      >, portanto não serão aceitas postagens contendo
                      exploração sexual, pornografia, violência, notícias falsas
                      e anúncio de produtos ou serviços ilegais/controlados são
                      expressamente proibidos. Autores de postagens e
                      comentários com este teor, assim como perfis falsos serão
                      punidos com o banimento de nossa comunidade e menores de
                      idade não serão aceitos.
                    </li>
                    <li>
                      Ao fazer postagens ofertando ou buscando serviços, sempre
                      providencie todas as informações disponíveis pertinentes à
                      execução do serviço.
                    </li>
                    <li>
                      Acreditamos que todas as profissões e pessoas merecem
                      respeito igualmente, por tanto, é expressamente proibido
                      menosprezar qualquer área profissional ou pessoa em função
                      da área em que ela atua, assim como atos de Racismo,
                      LGBTfobia, Sexismo, Xenofobia, Capacitismo, intolerância
                      política e religiosa ou qualquer comportamento
                      discriminatório, preconceituoso ou ofensivo . Posts
                      contendo ofensas e desrespeito serão excluídos e o autor
                      será punido com o banimento da nossa comunidade.
                    </li>
                    <li>
                      A nossa comunidade é um ambiente onde todas as pessoas
                      devem se sentir acolhidas, portanto, são proibidos
                      discussões sobre política.
                    </li>
                    <li>
                      A Feira não se responsabiliza ou participa em nenhuma
                      parte da negociação ou contratação.
                    </li>
                    <li>
                      Para um melhor acompanhamento e gerenciamento, não
                      bloqueiem os moderadores e administradores da página.
                    </li>
                    <li>
                      Convites para participação em outros grupos online ou
                      offline, não pertencentes às comunidades Feira e/ou
                      Parceiros, não são permitidos.
                    </li>
                    <li>
                      É vedado o uso do nome e/ou logomarca Feira em
                      publicações, sem a expressa autorização de sua
                      administração.
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- /row -->
        </div>
      </section>
      <!-- ============================ Privacy End ================================== -->

      <!-- ============================== Start Newsletter ================================== -->
      <%- include('parts/page-newsletter') %>
      <!-- ================================= End Newsletter =============================== -->

      <!-- ============================ Footer Start ================================== -->
      <%- include('parts/page-footer') %>
      <!-- ============================ Footer End ================================== -->

      <!-- Log In Modal -->
      <div
        class="modal fade"
        id="login"
        tabindex="-1"
        role="dialog"
        aria-labelledby="registermodal"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered login-pop-form"
          role="document"
        >
          <div class="modal-content" id="registermodal">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"
              ><i class="ti-close"></i
            ></span>
            <div class="modal-body">
              <h4 class="modal-header-title">Log In</h4>
              <div class="login-form">
                <form>
                  <div class="form-group">
                    <label>User Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>

                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="*******"
                    />
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-md full-width pop-login"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>

              <div class="social-login mb-3">
                <ul>
                  <li>
                    <input
                      id="reg"
                      class="checkbox-custom"
                      name="reg"
                      type="checkbox"
                    />
                    <label for="reg" class="checkbox-custom-label"
                      >Save Password</label
                    >
                  </li>
                  <li><a href="#" class="theme-cl">Forget Password?</a></li>
                </ul>
              </div>

              <div class="text-center">
                <p class="mt-2">
                  Haven't Any Account?
                  <a href="register.html" class="link">Click here</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!-- Sign Up Modal -->
      <div
        class="modal fade"
        id="signup"
        tabindex="-1"
        role="dialog"
        aria-labelledby="sign-up"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered login-pop-form"
          role="document"
        >
          <div class="modal-content" id="sign-up">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"
              ><i class="ti-close"></i
            ></span>
            <div class="modal-body">
              <h4 class="modal-header-title">Sign Up</h4>
              <div class="login-form">
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Name"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="*******"
                    />
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-md full-width pop-login"
                    >
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
              <div class="text-center">
                <p class="mt-3">
                  <i class="ti-user mr-1"></i>Already Have An Account?
                  <a href="#" class="link">Go For LogIn</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/counterup.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
  </body>
</html>
