<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>LearnUp - Online Course & Education HTML Template</title>

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- Custom Color Option -->
    <link href="css/colors.css" rel="stylesheet" />
  </head>

  <body class="red-skin">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
      <!-- Start Navigation -->
      <div class="header header-light head-shadow">
        <div class="container">
          <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
              <a class="nav-brand" href="#">
                <img
                  src="assets/img/facto-logo.png"
                  class="logo"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </a>
              <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none">
              <ul class="nav-menu">
                <!-- <li class="active">
					<a href="#courses"
					  >Cursos<span class="submenu-indicator"></span
					></a>
					<ul class="nav-dropdown nav-submenu">
						<li><a href="index.html">Home 1</a></li>
						<li><a href="home-2.html">Home 2</a></li>
						<li><a href="home-3.html">Home 3</a></li>
						<li><a href="home-4.html">Home 4</a></li>
						<li><a href="home-5.html">Home 5</a></li>
						<li><a href="home-6.html">Home 6</a></li>
						<li><a href="home-7.html">Home 7</a></li>
						<li><a href="home-8.html">Home 8</a></li>
					  </ul>
				  </li> -->

                <!-- <li>
					<a href="#blog"
					  >Blog<span class="submenu-indicator"></span
					></a>
					<ul class="nav-dropdown nav-submenu">
						<li>
						  <a href="#"
							>Courses Grid Sidebar<span
							  class="submenu-indicator"
							></span
						  ></a>
						  <ul class="nav-dropdown nav-submenu">
							<li>
							  <a href="grid-with-sidebar.html">Courses grid 1</a>
							</li>
							<li>
							  <a href="grid-with-sidebar-2.html">Courses grid 1</a>
							</li>
							<li>
							  <a href="grid-with-sidebar-3.html">Courses grid 1</a>
							</li>
						  </ul>
						</li>
						<li>
						  <a href="#"
							>Courses Grid Full Width<span
							  class="submenu-indicator"
							></span
						  ></a>
						  <ul class="nav-dropdown nav-submenu">
							<li>
							  <a href="full-width-course.html">Courses grid 1</a>
							</li>
							<li>
							  <a href="full-width-course-2.html">Courses grid 1</a>
							</li>
							<li>
							  <a href="full-width-course-3.html">Courses grid 1</a>
							</li>
							<li>
							  <a href="full-width-course-4.html">Courses grid 1</a>
							</li>
						  </ul>
						</li>
						<li>
						  <a href="#"
							>Courses Detail<span class="submenu-indicator"></span
						  ></a>
						  <ul class="nav-dropdown nav-submenu">
							<li><a href="detail.html">Course Detail 1</a></li>
							<li><a href="detail-2.html">Course Detail 2</a></li>
							<li><a href="detail-3.html">Course Detail 3</a></li>
							<li><a href="detail-4.html">Course Detail 4</a></li>
							<li><a href="detail-5.html">Course Detail 5</a></li>
						  </ul>
						</li>
						<li><a href="find-instructor.html">Find Instructor</a></li>
						<li>
						  <a href="instructor-detail.html">Instructor Detail</a>
						</li>
					  </ul>
				  </li> -->

                <li>
                  <a href="/index"
                    >Início<span class="submenu-indicator"></span
                  ></a>
                  <!-- <ul class="nav-dropdown nav-submenu">
						<li class="">
						  <a href="#"
							>User Dashboard<span class="submenu-indicator"></span
						  ></a>
						  <ul class="nav-dropdown nav-submenu">
							<li><a href="dashboard.html">User Dashboard</a></li>
							<li><a href="my-profile.html">My Profile</a></li>
							<li><a href="all-courses.html">My Courses</a></li>
							<li><a href="my-order.html">My Order</a></li>
							<li><a href="saved-courses.html">Saved Courses</a></li>
							<li><a href="reviews.html">My Reviews</a></li>
							<li><a href="settings.html">My Settings</a></li>
						  </ul>
						</li>
						<li>
						  <a href="#"
							>Shop Pages<span class="submenu-indicator"></span
						  ></a>
						  <ul class="nav-dropdown nav-submenu">
							<li>
							  <a href="shop-full-width.html">Shop Full Width</a>
							</li>
							<li>
							  <a href="shop-left-sidebar.html">Shop Sidebar Left</a>
							</li>
							<li>
							  <a href="shop-right-sidebar.html"
								>Shop Sidebar Right</a
							  >
							</li>
							<li><a href="product-detail.html">Shop Detail</a></li>
							<li><a href="add-to-cart.html">Add To Cart</a></li>
							<li><a href="product-wishlist.html">Wishlist</a></li>
							<li><a href="checkout.html">Checkout</a></li>
							<li><a href="shop-order.html">Order</a></li>
						  </ul>
						</li>
						<li><a href="about-us.html">About Us</a></li>
						<li><a href="blog.html">Blog Style</a></li>
						<li><a href="blog-detail.html">Blog Detail</a></li>
						<li><a href="pricing.html">Pricing</a></li>
						<li><a href="404.html">404 Page</a></li>
						<li><a href="register.html">Register</a></li>
						<li><a href="component.html">Elements</a></li>
						<li><a href="privacy.html">Privacy Policy</a></li>
						<li><a href="faq.html">FAQs</a></li>
					  </ul> -->
                </li>

                <li><a href="contact.html">Contato</a></li>
              </ul>

              <ul class="nav-menu nav-menu-social align-to-right">
                <li
                  class="login_click bg-green"
                  style="background-color: #16a3fe"
                >
                  <a
                    href="https://www.facebook.com/groups/521531292199783"
                    target="_blank"
                    >Entre na Facto</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- End Navigation -->
      <div class="clearfix"></div>
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->

      <!-- ============================ Page Title Start================================== -->
      <section class="page-title">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="breadcrumbs-wrap">
                <h1 class="breadcrumb-title" style="text-transform: none">
                  Regras Grupo da Facto
                </h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Regras
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ============================ Page Title End ================================== -->

      <!-- ============================ Privacy Start ================================== -->
      <section class="gray">
        <div class="container">
          <!-- row Start -->
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="prc_wrap">
                <div class="prc_wrap_header">
                  <h4 class="property_block_title" style="text-transform: none">
                    Regras Grupo da Facto
                  </h4>
                </div>

                <div class="prc_wrap-body">
                  <ol>
                    <li>
                      O foco do grupo da Facto no Facebook é desenvolver um
                      ambiente digital, seguro e acolhedor, focado em pessoas
                      reais. Os integrantes podem postar ofertas e vagas de
                      trabalho, encorajamos também conteúdos de crescimento
                      pessoal e profissional, como cursos de capacitação e
                      especialização. Desta forma, as postagens deverão conter
                      conteúdo direcionado ao tema trabalho e seguindo as
                      orientações feitas nas regras a seguir.
                    </li>
                    <li>
                      Para ser mais fácil o uso de nossa comunidade, ao fazer
                      uma postagem buscando por uma oportunidade de trabalho ou
                      um um profissional, para fazer um serviço, use sempre na
                      primeira linha do post: “#[tópico]”. Por exemplo: escrever
                      “#[Manicure]”, quando estiver buscando por uma pessoa que
                      faça o serviço de Manicure. Além disso, ao ter sua vaga
                      preenchida, lembre sempre de bloquear os comentários da
                      postagem para garantir que nenhuma pessoa fique na
                      expectativa desta postagem
                    </li>
                    <li>
                      A Facto acredita que uma comunidade acolhedora e segura é
                      construída com base na honestidade, transparência e foco
                      no que importa, que é promover mais oportunidades e
                      desenvolvimento pessoal e profissional de pessoas. Por
                      isso todo mundo pode entrar, exceto perfis falsos (Fakes)
                      e menores de 18 anos em nosso grupo. A comunidade da Facto
                      segue as regras do Facebook, descritas em:
                      <a
                        href="https://www.facebook.com/communitystandards/"
                        target="_blank"
                        >https://www.facebook.com/communitystandards/</a
                      >, portanto não serão aceitas postagens contendo
                      exploração sexual, pornografia, violência, notícias falsas
                      e anúncio de produtos ou serviços ilegais/controlados são
                      expressamente proibidos. Autores de postagens e
                      comentários com este teor, assim como perfis falsos serão
                      punidos com o banimento de nossa comunidade e menores de
                      idade não serão aceitos.
                    </li>
                    <li>
                      Ao fazer postagens ofertando ou buscando serviços, sempre
                      providencie todas as informações disponíveis pertinentes à
                      execução do serviço.
                    </li>
                    <li>
                      Acreditamos que todas as profissões e pessoas merecem
                      respeito igualmente, por tanto, é expressamente proibido
                      menosprezar qualquer área profissional ou pessoa em função
                      da área em que ela atua, assim como atos de Racismo,
                      LGBTfobia, Sexismo, Xenofobia, Capacitismo, intolerância
                      política e religiosa ou qualquer comportamento
                      discriminatório, preconceituoso ou ofensivo . Posts
                      contendo ofensas e desrespeito serão excluídos e o autor
                      será punido com o banimento da nossa comunidade.
                    </li>
                    <li>
                      A nossa comunidade é um ambiente onde todas as pessoas
                      devem se sentir acolhidas, portanto, são proibidos
                      discussões sobre política.
                    </li>
                    <li>
                      A Facto não se responsabiliza ou participa em nenhuma
                      parte da negociação ou contratação.
                    </li>
                    <li>
                      Para um melhor acompanhamento e gerenciamento, não
                      bloqueiem os moderadores e administradores da página.
                    </li>
                    <li>
                      Convites para participação em outros grupos online ou
                      offline, não pertencentes às comunidades Facto e/ou
                      Parceiros, não são permitidos.
                    </li>
                    <li>
                      É vedado o uso do nome e/ou logomarca Facto em
                      publicações, sem a expressa autorização de sua
                      administração.
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- /row -->
        </div>
      </section>
      <!-- ============================ Privacy End ================================== -->

      <!-- ============================== Start Newsletter ================================== -->
      <%- include('parts/page-newsletter') %>
      <!-- ================================= End Newsletter =============================== -->

      <!-- ============================ Footer Start ================================== -->
      <%- include('parts/page-footer') %>
      <!-- ============================ Footer End ================================== -->

      <!-- Log In Modal -->
      <div
        class="modal fade"
        id="login"
        tabindex="-1"
        role="dialog"
        aria-labelledby="registermodal"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered login-pop-form"
          role="document"
        >
          <div class="modal-content" id="registermodal">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"
              ><i class="ti-close"></i
            ></span>
            <div class="modal-body">
              <h4 class="modal-header-title">Log In</h4>
              <div class="login-form">
                <form>
                  <div class="form-group">
                    <label>User Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>

                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="*******"
                    />
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-md full-width pop-login"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>

              <div class="social-login mb-3">
                <ul>
                  <li>
                    <input
                      id="reg"
                      class="checkbox-custom"
                      name="reg"
                      type="checkbox"
                    />
                    <label for="reg" class="checkbox-custom-label"
                      >Save Password</label
                    >
                  </li>
                  <li><a href="#" class="theme-cl">Forget Password?</a></li>
                </ul>
              </div>

              <div class="text-center">
                <p class="mt-2">
                  Haven't Any Account?
                  <a href="register.html" class="link">Click here</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!-- Sign Up Modal -->
      <div
        class="modal fade"
        id="signup"
        tabindex="-1"
        role="dialog"
        aria-labelledby="sign-up"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered login-pop-form"
          role="document"
        >
          <div class="modal-content" id="sign-up">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"
              ><i class="ti-close"></i
            ></span>
            <div class="modal-body">
              <h4 class="modal-header-title">Sign Up</h4>
              <div class="login-form">
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Name"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="*******"
                    />
                  </div>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-md full-width pop-login"
                    >
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
              <div class="text-center">
                <p class="mt-3">
                  <i class="ti-user mr-1"></i>Already Have An Account?
                  <a href="#" class="link">Go For LogIn</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <a id="back2Top" class="top-scroll" title="Back to top" href="#"
        ><i class="ti-arrow-up"></i
      ></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
  </body>
</html>
