<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <button
      type="button"
      class="btn btn-loader"
      id="loadbtn"
      style="border: none"
    >
      Carregue mais<i class="ti-reload ml-3"></i>
    </button>
  </div>
</div>
