<section
  class="newsletter theme-bg inverse-theme"
  style="background-color: #278eee"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-8 col-sm-12">
        <div class="text-center">
          <h2>Faça parte da nossa comunidade!</h2>
          <p>
            Inscreva-se no nosso grupo do Facebook e fique ainda mais por dentro
          </p>
          <div
            style="display: flex; justify-content: center; align-items: center"
          >
            <ul class="nav-menu nav-menu-social align-to-right">
              <li
                id="button-2"
                class="login_click bg-green"
                style="
                  display: flex;
                  text-align: center;
                  justify-content: center;
                  align-items: center;
                "
              >
                <a
                  href="https://www.facebook.com/groups/261261289131717"
                  target="_blank"
                  >Entre na Feira</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
