<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="breadcrumbs-wrap">
          <h1 class="breadcrumb-title" style="text-transform: none">
            <%= title %>
          </h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Início</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <%= subtitle %>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
