<div class="header header-light head-shadow">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand" href="/">
          <img
            src="img/facto-logo.png"
            class="logo"
            alt="Logo facto"
            style="width: 35px; height: 40px"
          />
        </a>
        <div class="nav-toggle"></div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none">
        <ul class="nav-menu">
          <li class="active">
            <a href="/">Início <span class="submenu-indicator"></span></a>
          </li>
          <li><a href="/courses"> Cursos</a></li>
          <li>
            <a href="/blog">Blog<span class="submenu-indicator"></span></a>
          </li>

          <li>
            <a href="/news">Notícias<span class="submenu-indicator"></span></a>
          </li>
          <li>
            <a href="/privacy">Regras<span class="submenu-indicator"></span></a>
          </li>
          <li>
            <a href="/contact"
              >Contato<span class="submenu-indicator"></span
            ></a>
          </li>

          <ul class="nav-menu nav-menu-social align-to-right">
            <li
              id="button-1"
              class="login_click bg-green"
              style="display: flex; justify-content: center"
            >
              <a
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
                href="https://www.facebook.com/groups/261261289131717"
                target="_blank"
                >Entre na Feira</a
              >
            </li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
</div>
